.App {
    height: 150px;
    width: 400px;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
}

.title {
    height: 20px;
    border: 1px solid grey;
    padding: 2px;
    border-radius: 3px;
    text-align: center;
    font-style: italic;
    margin: 3px;
}

.calc {
    margin: 2px;
    display: flex;
}

.FahComp {
    display: inline;
}

p {
    border: 1px solid;
    height: 18px;
    width: 20px;
}

.CelComp {
    display: inline;
}