.border {
    position: relative;
    border: 1px solid;
    height: 400px;
    width: 400px;
    padding: 2px;
    overflow: hidden;
    
}

.circle {
    position: absolute;
    border: 1px solid red;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}